body {
    background-color: #0e0b0b;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.980); 
    width: fit-content;
    margin: 20px auto;
}
.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    margin: 0 15px;
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: color 0.3s;
}

li:hover {
    color:#525656;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.img-logo img {
    width: 500px;
    height: auto;
}
