
.container {
    margin: 40px auto;
    width: 90%;
    max-width: 400px;
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.980); 
}

h1 {
    display: flex;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
    color: white;
}

input {
    flex: 1;
    padding: 0.7rem;
    border: none;
    background: #2b2b2b;
    color: white;
}

button {
    background: linear-gradient(90deg, #ff3c00, #ff8800);
    border: none;
    border-radius: 50px;
    color: white;
    border-radius: 8px;
    padding: 0.7rem 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

li {
    list-style: none;
    margin: 0 15px;
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: color 0.3s;
}

li:hover {
    color:#525656;
}


.input-area {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

li.concluida {
    text-decoration: line-through;
    opacity: 0.6;
}

li button {
    background: none;
    border: none;
    color: #ff3c00;
    cursor: pointer;
    font-size: 1.2rem;
}

body {
    background-color: #0e0b0b;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.980); 
    width: fit-content;
    margin: 20px auto;
}
.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
}